<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/jobs.css'%}">
    <style>
    body{
    margin-top: 200px;
    text-align: auto;
    color: red;
}
table{
    background: red;
    color: white;
    border: 2px solid green;
}

    </style>
</head>
<body>
    <h1>Welcome to Hyd Jobs Information</h1>
    {% if jobs_list %}
    <table border="5">
    <thead>
        <th>Date</th>
        <th>Company</th>
        <th>Title</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
    </thead>
    {% for job in jobs_list %}
    <tr>
        <td>{{job.date}}</td>
        <td>{{job.company}}</td>
        <td>{{job.title}}</td>
        <td>{{job.address}}</td>
        <td>{{job.email}}</td>
        <td>{{job.phonenumber}}</td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No Jobs in Hyderabad....</p>
    {% endif %}
</body>
</html>